body {
    background-color: blue;
    background-image: url(./assets/img/sea.jpg)
}
img {
    width: 200px;
    height: 200px;
}
.meow {
    background-image: url(./assets/img/img3.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}